---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar.astro';
import Footer from '../../components/Footer.astro';
---


<Layout title="About Us">
    <NavBar theme='light' />
    <main>
        <h1>
            Hello from About
        </h1>
    </main>

    <Footer />
</Layout>
