---
import Layout from '../../layouts/Layout.astro';
import HTML from '../../layouts/HTML.astro';
---

<HTML title="World Trip Catagories">
    <Layout>
        <h1>World Trip Catagories</h1>
        <a href="/world-trip/itinerary">
            itinerary
        </a>
    </Layout>
</HTML>