---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Blog">
    <NavBar theme="light">
</Layout>

<main>
    <div id="custom-substack-embed"></div>
    <div id="substack-feed-embed"></div>
</main>
<Footer />
<script>
  (window as any).SubstackFeedWidget = {
    substackUrl: "blog.alliandjustin.com",
    posts: 10
  };
</script>

<script>
  (window as any).CustomSubstackWidget = {
    substackUrl: "justinmenestrina.substack.com",
    placeholder: "example@gmail.com",
    buttonText: "Subscribe",
    theme: "custom",
    colors: {
      primary: "#FFFFFF",
      input: "#000000",
      email: "#FFFFFF",
      text: "#000000",
    }
    // Go to substackapi.com to unlock custom redirect
  };
</script>
<script src="https://substackapi.com/widget.js" async></script>
<script src="https://substackapi.com/embeds/feed.js" async></script>