---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import Wrapper from '../layouts/Wrapper.astro';
---

<Layout title="Justin & Alli">
	<div class='hero-background'>
		{/* Wrapper Class to center and add white space around the edges */}
		<Wrapper>
			<main>
					<NavBar theme="dark" />
					<div class="flex button-container">
						<button class="button">
							World Trip Itinerary
						</button>
					</div>
					
			</main>
		</Wrapper>
	</div>
	<Footer />


</Layout>

<style>




	.hero-background {
		background-image: url('../images/mobile_cover.webp');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 105vh;
		/* position: relative;
		width: 100%;
		height: 100vh; */
	}
	@media (min-width: 768px)  {
		.hero-background {
			background-image: url('../images/desktop_cover.webp');
		}
	}

	.button:hover {
		color: var(--main-bg-color);
		background-color: #fff;
	}
	.button {
		font-size: 28px;
		color: white;
		border: 2px solid white;
		border-radius: 10px;
		padding: 10px 20px;
		letter-spacing: 0.4px;
		transition-property: color, background-color;
		transition-duration: 0.3s;
		margin: 0 auto;
	}

	
	.button-container {
		padding-top: 33vh;
		margin: 0 auto;
		min-height: 105vh;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-items: end;
	}


	@media (min-width: 768px)  {
		.button-container {
			padding: 0 20vw 0 0;
		}
		.button {
			margin: 0;
		}
	}

</style>
