---
import Wrapper from '../layouts/Wrapper.astro';
import SocialMediaLinks from './social-media-links/index.astro';
---

<footer class="footer text-white footer max-width">
    <Wrapper>
        <div class="flex flex-col md:flex-row items:center md:items-start py-8 justify-between">
            <div class="flex flex-col items-center md:items-start mb-8 lg:mb-0">
                <h3 class='text-xl md:mb-4 uppercase font-bold tracking-wide'>Let's connect</h3>
                <nav class="internal-links flex flex-col items-center">
                <ul>
                    <li>
                        <a href="/about">
                            About Us
                        </a>
                    </li>
                </ul>
                </nav>
                
            </div>
            <div class="flex flex-col items-center justify-center mb-8 lg:mb-0">
                <h2 class="text-3xl mb-2 font-bold">Justin & Alli</h2>
                <SocialMediaLinks theme="dark" />
                <p class="mt-2">hello@alliandjustin.com</p>
            </div>

            <div class='flex flex-col items-center md:items-end'>
                <h3 class="text-lg md:mb-4 uppercase font-bold tracking-wide">Navigation</h3>
                <nav class="internal-links">
                <ul class='flex flex-col items-end'>
                    <li>
                        <a href="/blog">
                            Blog
                        </a>
                    </li>
                </ul>
                </nav>
            </div>
        </div>
    </Wrapper>
</footer>


<style>

    .internal-links a:hover {
        text-decoration: underline;
    }
    .footer {
        background-color: var(--main-bg-color);
        font-family: "Poppins", sans-serif;

    }


</style>
