---
import Wrapper from '../layouts/Wrapper.astro';
import SocialMediaLinks from './social-media-links/index.astro';
---

<footer class="footer text-white ">
    <div class="footer mx-auto max-w-screen-2xl">
    <div class="flex flex-col lg:flex-row py-8 px-6 justify-between ">
        <div>
            <h3 class='text-2xl mb-4'>Let's connect</h3>
            <nav class="internal-links">
            <ul>
                <li>
                    <a href="/about">
                        About Us
                    </a>
                </li>
            </ul>
            </nav>
            
        </div>
        <div class="'flex flex-col">
            <h2 class="text-3xl mb-2 flex justify-center">Justin & Alli</h2>
            <p class="mb-2">hello@alliandjustin.com</p>
            <SocialMediaLinks />
        </div>

        <div>
            <h3 class="text-2xl mb-4">Navigation</h3>
            <nav class="internal-links">
            <ul class='flex flex-col items-end'>
                <li>
                    <a href="/blog">
                        Blog
                    </a>
                </li>
            </ul>
            </nav>
        </div>
    </div>
    </div>
</footer>


<style>

    .internal-links a:hover {
        text-decoration: underline;
    }
    .footer {
        background-color: var(--main-bg-color);

    }


</style>
