---
import { Image } from "astro:assets";
import YoutubeLogoDark from '../images/YoutubeLogoDark.svg';
import YoutubeLogoLight from '../images/YoutubeLogoLight.svg';
import InstagramDark from '../images/InstagramLogoDark.svg';
import InstagramLight from '../images/InstagramLogoLight.svg';

---

<div class="footer flex justify-between py-8 px-6">
    <div>
        <h3 class='text-2xl'>Let's connect</h3>
        <nav>
        <ul>
            <li>
                <a href="/about" target="_blank">
                    About Us
                </a>
            </li>
        </ul>
        </nav>
        
    </div>
    <div>
        <h2 class="text-3xl">Justin & Alli</h2>
        <p>hello@alliandjustin.com</p>
        <ul>
            <!-- <li class="mr-4">
                <a>
                    <Image src={YoutubeIcon} alt="Youtube" class="w-8 h-8" />
                </a>
            </li>
            <li class="mr-4">
                <a>
                    <Image src={InstragramIcon} alt="Instagram" class="w-8 h-8" />
                </a>
            </li> -->
            
            <li class="mr-4">
                <a>
                    <Image src={YoutubeLogoDark} alt="Youtube" class="w-8 h-8" />
                </a>
            </li>
        
            <li class="mr-4">
                <a>
                    <Image src={InstagramDark} alt="Instagram" class="w-8 h-8" />
                </a>
            </li>
        </ul>
    </div>

    <div>
        <h3 class="text-2xl">Navigation</h3>
        <nav>
           <ul>
            <li>

            </li>
           </ul>
        </nav>
    </div>
</div>


<style>

.footer {
    background-color: var(--main-bg-color);
}
</style>
