---

---


<nav class="flex items-center align-middle py-8 px-6 text-white">
    <div>
        <p class="text-2xl tracking-wide">
            Alli & Justin
        </p>
    </div>
    <ul class="flex items-center">
        <li>About</li>
        <li>World Travels</li>
        <li>Destinations</li>
        <li>Blog</li>
        
    </ul>


    <ul class="flex">
        <li>Instagram</li>
        <li>Youtube</li>
    </ul>

</nav>



<style>
    nav {
        font-family: 'Poppins';
        font-weight: 600;
        display: flex;
        justify-content: space-between;
    }
</style>