---
import { Image } from 'astro:assets';
import SocialMediaLinks from './social-media-links/index.astro';
import MenuIcon from '../images/MenuIcon.astro';
import XIcon from '../images/XIcon.svg';

const theme = Astro.props.theme || 'light';
const textColor = theme === 'dark' ? '#fff' : '#000';
const hoverColor = theme === 'dark' ? '#fff' : 'transparent';
---


<nav class="flex items-center align-middle py-8">
    <div>
        <a class="text-2xl tracking-wide logo" href="/">
            Alli & Justin
        </a>
    </div>

    <div class="align-middle items-center hidden lg:flex">
        <ul class="flex items-center main-nav text-xl">
            <li class="mr-6">
                <a href="/about" class="py-2 px-4">About</a>
            </li>
    
            <li class="mr-6">
                <a href="/world-trip" class="py-2 px-4">World Travels</a>
            </li>
    
            <li class="mr-6">
                <a href="/destinations" class="py-2 px-4">Destinations</a>
            </li>
    
            <li>
                <a href="/blog" class="py-2 px-4">Blog</a>
            </li>
            
        </ul>
        <p class="mx-6">|</p>
       <SocialMediaLinks theme={theme}>
    </div>

    {/* Mobile Nav */}
    <div class="mobile-nav-overlay"></div>
    <div class="max-lg:flex hidden">
        <button class='mobile-menu-buton' alt="Mobile Nav Menu">
            <MenuIcon height="h-6" width="w-6" theme={theme}/>
        </button>
        <div class="gone mobile-nav absolute min-h-screen  border-l-1 border-white border-solid">
            <div class="flex justify-end py-8 px-6">
                <button class="close-button">
                    <Image src={XIcon} alt="Close Nav Menu" class="h-4 w-4" />
                </button>
            </div>
            <ul class="flex flex-col main-nav text-xl px-4 mb-4">
                <li class="mr-6">
                    <a href="/about" class="py-2 px-4">About</a>
                </li>
        
                <li class="mr-6">
                    <a href="/world-trip" class="py-2 px-4">World Travels</a>
                </li>
        
                <li class="mr-6">
                    <a href="/destinations" class="py-2 px-4">Destinations</a>
                </li>
        
                <li>
                    <a href="/blog" class="py-2 px-4">Blog</a>
                </li>
            </ul>
            <SocialMediaLinks theme='dark' />
        </div>
    </div>
</nav>

<script>
    const menuIcon = document.querySelector<HTMLElement>('.mobile-menu-buton');
    const body = document.querySelector<HTMLElement>('body');
    const mobileOverlay = document.querySelector<HTMLElement>('.mobile-nav-overlay');

    // Freeze up scroll
    menuIcon.addEventListener('click', () => {
        
        const nav = document.querySelector<HTMLElement>('.mobile-nav');
        nav.classList.toggle('gone');
        body.style["overflow-y"] = 'hidden';
        mobileOverlay.classList.toggle('open');


    })

    const closeButton = document.querySelector<HTMLElement>('.close-button');
    closeButton.addEventListener('click', () => {
        const nav = document.querySelector<HTMLElement>('.mobile-nav');
        nav.classList.toggle('gone');
        body.style["overflow-y"] = 'scroll';
        mobileOverlay.classList.toggle('open');
    })
</script>

<style define:vars={{textColor, hoverColor}}>
    .mobile-nav.gone {
        right: -300px;
    }
    
    .mobile-nav {
        transition-property: right;
        transition-duration: 0.2s;
        background-color: var(--main-bg-color);
        color: white;
        position: absolute;
        top: 0;
        right: 0px;
        width: 300px;
        min-height: 100%;
        z-index: 10;
        
    }
    .logo {
        font-weight: 700;
    }
    .main-nav a {
            background-color: transparent;
            letter-spacing: 0.2px;
            display: block;
            transition-property: color, background-color;
            transition-duration: 0.3s;
            border-radius: 5px;;
        }
    .main-nav a:hover {
            background-color: var(--hoverColor);
            color: var(--main-bg-color);
        }

    nav {
        font-family: 'Poppins';
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        color: var(--textColor);
    }

    .mobile-nav-overlay {
        position: absolute;
        background-color: black;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        z-index: 5;
        transition-property: opacity;
        transition-duration: 0.1s;
        opacity: 0%;
    }

    .mobile-nav-overlay.open {
        width: 100%;
        height: 100%;
        opacity: 80%;
    }
</style>

