---
import { Image } from "astro:assets";
import YoutubeLogoDark from '../images/YoutubeLogoDark.svg';
import InstagramDark from '../images/InstagramLogoDark.svg';

const theme = Astro.props.theme || 'dark';
const textColor = theme === 'dark' ? '#fff' : '#000';
const hoverColor = theme === 'dark' ? '#fff' : 'transparent';
---


<nav class="flex items-center align-middle py-8 px-6">
    <div>
        <a class="text-2xl tracking-wide logo" href="/">
            Alli & Justin
        </a>
    </div>
    <ul class="flex items-center main-nav">
        <li class="mr-6">
            <a href="/about" class="py-2 px-1">About</a>
        </li>

        <li class="mr-6">
            <a href="/world-trip" class=" py-2 px-1">World Travels</a>
        </li>

        <li class="mr-6">
            <a href="/destinations" class=" py-2 px-1">Destinations</a>
        </li>

        <li class="mr-6">
            <a href="/blog" class=" py-2 px-1">Blog</a>
        </li>
        
    </ul>


    <ul class="flex">
        <li class="mr-4">
            <a>
                <Image src={YoutubeLogoDark} alt="Youtube" class="w-8 h-8" />
            </a>
        </li>

        <li class="mr-4">
            <a>
                <Image src={InstagramDark} alt="Instagram" class="w-8 h-8" />
            </a>
        </li>
    </ul>

</nav>



<style define:vars={{textColor, hoverColor}}>

    .logo {
        font-weight: 700;
    }
    .main-nav a {
            background-color: transparent;
            letter-spacing: 0.2px;
            display: block;
            transition-property: color, background-color;
            transition-duration: 0.3s;
            border-radius: 5px;;
        }
    .main-nav a:hover {
            background-color: var(--hoverColor);
            color: var(--main-bg-color);
        }

    nav {
        font-family: 'Poppins';
        display: flex;
        justify-content: space-between;
        color: var(--textColor);
    }
</style>