---
import SubstackLogo from '../../images/SubstackLogo.astro';
import YoutubeLogo from '../../images/YoutubeLogo.astro';
import InstagramLogo from '../../images/InstagramLogo.astro';
import TiktokLogo from '../../images/TiktokLogo.astro';

const theme = Astro.props.theme || 'light';

---

<ul class="flex justify-center">
    <li class="mr-4">
        <a href="https://instagram.com/alliandjustintravel" target="_blank">
            <InstagramLogo theme={theme} height="h-6" width="w-6" />
        </a>
    </li>
    <li class="mr-4">
        <a href="https://www.youtube.com/channel/UCKWT9RxxOP8Fd8RLEhf5koA">
            <YoutubeLogo theme={theme} height="h-6" width="w-6" />
        </a>
    </li>

    <li class="mr-4">
        <a href="https://www.tiktok.com/@alliandjustintravel" target="_blank">
            <TiktokLogo theme={theme} height="h-6" width="w-6" />
        </a>
    </li>

    <li>
        <a href="https://blog.alliandjustin.com" target="_blank">
            <SubstackLogo theme={theme} height="h-6" width="w-6" />
        </a>
    </li>


</ul>