---
import InstagramLogoDark from '../../images/InstagramLogoDark.svg';
import { Image } from "astro:assets";
---



<a href="https://instagram.com" target="_blank">
    <Image src={InstagramLogoDark} alt="Youtube" class="w-6 h-6" />
</a>