---
import InstagramLogo from '../../images/InstagramLogo.astro';
import { Image } from "astro:assets";
---



<a href="https://instagram.com/alliandjustintravel" target="_blank">
    <InstagramLogoDark />
</a>