---
import YoutubeLogoDark from '../../images/YoutubeLogoDark.astro';
import { Image } from "astro:assets";
---



<a href="https://www.youtube.com/channel/UCKWT9RxxOP8Fd8RLEhf5koA" target="_blank">
    <YoutubeLogoDark />
</a>