---
import YoutubeLogoDark from '../../images/YoutubeLogoDark.svg';
import { Image } from "astro:assets";
---



<a href="https://www.youtube.com/channel/UCKWT9RxxOP8Fd8RLEhf5koA" target="_blank">
    <Image src={YoutubeLogoDark} alt="Youtube" class="w-6 h-6" />
</a>