---
import Layout from '../../../layouts/Layout.astro';
import NavBar from '../../../components/NavBar.astro';
---


<main>
    <NavBar theme="light" />
    <Layout title="Itinerary">
        <h1>itinerary</h1>
    </Layout>
</main>